@model Hotel_Management_System.Models.Issuebill

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        .logo-w3 {
            position: relative;
            font-family: Arial;
        }

        .text-block {
            position: absolute;
            bottom: 20px;
            right: 20px;
            background-color: blanchedalmond;
            color: white;
            padding-left: 20px;
            padding-right: 20px;
        }



        body {
            background-repeat: no-repeat;
            background-image: url('../../Images/issuebills.png');
            background-attachment: fixed;
            background-size: cover;
        }
    </style>



</head>








<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Issuebill</h4>
    <hr />
    <h3>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.RoomNo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RoomNo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BillNo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BillNo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Quantity)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Taxes)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Taxes)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Services)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Services)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Total)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Total)
            </dd>

        </dl>
    </h3>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @*  <input type="submit" value="Delete" class="btn btn-default" /> |*@
            <input type="submit" value="Delete" class="btn btn-default" onclick="return click_here_to_save();" />
            <script type="text/javascript">function click_here_to_save() { alert('Data Deleted successfully '); }</script>
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
