@model IEnumerable<Hotel_Management_System.Models.Reservation>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        .logo-w3 {
            position: relative;
            font-family: Arial;
        }

        .text-block {
            position: absolute;
            bottom: 20px;
            right: 20px;
            background-color: blanchedalmond;
            color: white;
            padding-left: 20px;
            padding-right: 20px;
        }



        body {
            background-repeat: no-repeat;
            background-image: url('../../Images/reserv.png');
            background-attachment: fixed;
            background-size: cover;
        }
    </style>



</head>
</html>



<h2 style="color:white">Reservations</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<h4>
    <table class="table" style="color:white">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfChildren)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfAdults)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfNights)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RoomNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfChildren)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfAdults)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckIn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckOut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfNights)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ReservationId }) |
            @Html.ActionLink("Details", "Details", new { id = item.ReservationId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ReservationId })
        </td>
        <button><a href="https://localhost:44376/Guests/Create">AddGuest</a></button>
    </tr>
        }

    </table>
</h4>