@model Hotel_Management_System.Models.Guest

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!DOCTYPE html>
<html>
<head>
    <style>
        .logo-w3 {
            position: relative;
            font-family: Arial;
        }

        .text-block {
            position: absolute;
            bottom: 20px;
            right: 20px;
            background-color: blanchedalmond;
            color: white;
            padding-left: 20px;
            padding-right: 20px;
        }



        body {
            background-repeat: no-repeat;
            background-image: url('../../Images/Guest.png');
            background-attachment: fixed;
            background-size: cover;
        }
    </style>



</head>
</html>



<h2 style="color: #efc62b">Details</h2>

<div>
    <h4 style="color: #efc62b">Guest</h4>
    <hr />
    <h3>
        <dl class="dl-horizontal" style="color: #efc62b">
            <dt>
                @Html.DisplayNameFor(model => model.RoomNo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RoomNo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Company)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Company)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Gender)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Gender)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>

    </h3>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GuestId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
