@model IEnumerable<Hotel_Management_System.Models.Guest>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<!DOCTYPE html>
<html>
<head>
    <style>
        .logo-w3 {
            position: relative;
            font-family: Arial;
        }

        .text-block {
            position: absolute;
            bottom: 20px;
            right: 20px;
            background-color: blanchedalmond;
            color: white;
            padding-left: 20px;
            padding-right: 20px;
        }



        body {
            background-repeat: no-repeat;
            background-image: url('../../Images/Guest.png');
            background-attachment: fixed;
            background-size: cover;
        }
    </style>



</head>
</html>

<h2 style="color: #efc62b">Guest</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<h4>
    <table class="table" style="color: #efc62b">

        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.RoomNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>

<th></th>
    </tr>


@foreach (var item in Model)
{
   
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.RoomNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.GuestId }) |
                @Html.ActionLink("Details", "Details", new { id = item.GuestId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.GuestId })
                <button><a href="https://localhost:44376/Guests/SendEmail">SendEmail</a></button>
            </td>

        </tr>
    
}

</table>
</h4>
