@model Hotel_Management_System.Models.InventoryReports

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<!DOCTYPE html>
<html>
<head>
    <style>
        .logo-w3 {
            position: relative;
            font-family: Arial;
        }

        .text-block {
            position: absolute;
            bottom: 20px;
            right: 20px;
            background-color: blanchedalmond;
            color: white;
            padding-left: 20px;
            padding-right: 20px;
        }

        body {
            background-repeat: no-repeat;
            background-image: url('../../Images/InventoryReports.jpg');
            background-attachment: fixed;
            background-size: cover;
        }
    </style>

</head>
</html>










<h2>Details</h2>

<div>
    <h4>InventoryReports</h4>
    <hr />
    <h3>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.TotalIncome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TotalIncome)
            </dd>



            <dt>
                @Html.DisplayNameFor(model => model.MaintainanceCost)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MaintainanceCost)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EmployeeSalary)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EmployeeSalary)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.TotalProfit)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TotalProfit)
            </dd>

        </dl>
    </h3>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
